header {
	padding: 5px 0;
	background: #2474B5;
	width: 100%;
	position: absolute;
	z-index: 9;
}
body {
	background: #fff;
}
body a {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	text-decoration: none;
	outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
body a:hover {
	text-decoration: none;
}
body a:focus {
	outline: none;
	text-decoration: none;
}
/* header */
.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover {
	color: #fff;
}
/*招聘网*/
.navbar-brand {
	color: #fff;
	font-size: 25px;
	font-weight: 800;
	text-transform: uppercase;
	line-height: 2;
}
/*主页 关于我们 联系我们*/
li.nav-item a {
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 2px;
	padding: 5px 10px;
	font-size: 14px;
}
li.nav-item a:hover,
li.nav-item.active a {
	color: #0d2865;
	background: #fff;
	border-radius: 5px;
}
/*企业用户登录、登录*/
.w3ls-btn {
	font-size: 1em;
	letter-spacing: 1px;
	background: transparent;
	padding: 0 10px;
	border-radius: 0;
	color: #fff;
}
/*登录左边的竖线*/
.btn-2 {
	border-left: 2px solid #fff
}
.dropdown-menu li{
	background-color: white;
}
.dropdown-menu li:hover{
	background-color: #F2F5F9;
}
.dropdown-menu li a{
	margin-left: 10px;
	font-weight: 600;
	color: #495C69;
}
/*middle*/
.signupform {
    padding: 7em 0 0 0;
}
.signupform .container {
    width: 65%;
    margin: 0 auto;
}
/*采用 Flex 布局的元素，称为 Flex 容器（flex container），简称"容器"。它的所有子元素自动成为容器成员  默认左对齐不换行*/
/*平分左右各一半box-sizing: border-box;*/
.agile_info {
    display: flex;
}
/*左处图片*/
.w3l_form {
    padding: 0px;
    flex-basis: 50%;
	box-sizing: border-box;
}
.left_grid_info {
    padding-right: 3em;
}
/*右侧注册登录表单*/
.w3_info {
    flex-basis: 50%;
    box-sizing: border-box;
}
/*免费注册，获得高新！*/
.w3_info h2{
	display: inline-block;
    font-size: 40px;
    margin-bottom: 10px;
    color: #60639D;
    font-weight: 600;
}
.w3_info p {
    padding-bottom: 50px;
	margin: 0;
    color: #666;
    letter-spacing: 1px;
    line-height: 1.8em;
    font-size: 16px;
    font-weight: 400;
}
/*邮箱输入框*/
/*支持html5的浏览器会自动验证email域值的格式合法性。当输入的不是email格式的内容时，在支持html5的浏览器中提交该表单会出个提示说不是合法的email格式*/
input[type="email"] {
	font-size: 15px;
	color: #333;
    text-align: left;
    letter-spacing: 1px;
    padding: 14px 10px;
	width:93%;
	display:inline-block;
    box-sizing: border-box;
   	border: none;
    outline: none;
    background: transparent;
	font-family: 'Raleway', sans-serif;
}
/*密码输入框*/
input[type="Password"] {
	font-size: 15px;
	color: #333;
    text-align: left;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 14px 10px;
	width:93%;
	display:inline-block;
    box-sizing: border-box;
   	border: none;
    outline: none;
    background: transparent;
	font-family: 'Raleway', sans-serif;
}
.input-group {
    margin-top: 10px;
    margin-bottom: 30px;
	padding: 3px 10px;
	border: 1px solid #ddd;
	background: #fff;
}
.btn-block {
    background: #ff4040;
    border: none;
    color: #fff;
    font-size: 20px;
    padding: 12px 40px;
    letter-spacing: 2px;
    cursor: pointer;
	width: 50%;
	margin-top: 40px;
}
p.account{
    padding-top: 20px;
    padding-bottom: 0px;
    line-height: 1.5em;
    font-size: 15px;
}
/*letter-spacing 属性增加或减少字符间的空白*/
.footer p {
    color: #666;
    text-align: center;
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 5em;
}